.btn {
    margin: 5px;
    width: 100px;
}

.btn-success {
    background-color: green;
    color: white;
}

.btn-danger {
    background-color: red;
    color: white;
}


/* Estilo para a página de procurar prato */
div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-sizing: border-box;
}

/* Estilo para os títulos */
div h3 {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

/* Estilo para os labels */
div label {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #333;
}

/* Estilo para os inputs */
div input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Estilo para os botões */
div button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 2px solid rgb(100, 0, 160);
    background-color: white;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    transition-duration: 0.4s;
}

/* Botão desativado */
div button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Efeito hover nos botões */
div button:hover:not(:disabled) {
    background-color: #45a0;
    color: white;
}

/* Estilo para mensagens e texto adicional */
div strong {
    font-weight: bold;
    color: #333;
}

div p {
    font-size: 0.9rem;
    color: #666;
    margin-top: 10px;
}
