<div>
    <h3>Procurar Prato</h3>
    <!-- Caixa de input para o utilizador inserir o ID -->
    <label for="pratoId">ID do Prato:</label>
    <input type="number" id="pratoId" [(ngModel)]="pratoId" />

    <!-- Botão para buscar o prato -->
    <button (click)="loadPratoById(pratoId)">Procurar</button>

    <div *ngIf="prato; else loading">
        <h3>{{ prato.nome }}</h3>
        <strong>Tipo de Prato:</strong> {{ getTipoPratoNome(prato.tipoPratoId) }} <br />
        <strong>Estado:</strong> {{ getEstadoTexto(prato.ativo) }} <br />
        <button (click)="toggleEstado(prato)">Alterar Estado</button> <!-- Botão para alternar estado -->
    </div>

    <ng-template #loading>
        <p>O seu prato está a ser preparado...</p>
    </ng-template>

    <div *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
    </div>
</div>