<div class="carregar-cliente-form-container">
    <h2>Carregar conta cliente</h2>
    <form class="carregar-cliente-form" (ngSubmit)="onSubmit()">
        <!-- Caixa de input para o utilizador inserir o ID do cliente -->
        <label for="clienteNif">Introduza o nif associado ao Cliente:</label>
        <input id="nif" type="string" [(ngModel)]="selectedNif" name="nif" required
            placeholder="Insira o nif do cliente" />

        <div class="form-group">
            <label for="valor">Introduza o valor a carregar:</label>
            <input id="valor" type="number" [(ngModel)]="valor" name="valor" required placeholder="Insira o valor" />
        </div>

        <!-- Botão de submissão -->
        <button type="submit" [disabled]="!selectedNif || valor === undefined || valor === null || selectedNif === ''">        
            Carregar conta cliente
        </button>
        
        <!-- Mensagem de erro -->
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
    </form>
</div>
