<div class="encomenda-form">

    <form [formGroup]="encomendaForm" (ngSubmit)="onSubmit()">
        <label for="cliente">Cliente</label>
        <input id="cliente" formControlName="cliente" type="number" placeholder="ID do Cliente" required />

        <label for="refeicao">Refeição</label>
        <select id="refeicao" formControlName="refeicao" required>
            <option *ngFor="let refeicao of refeicao" [value]="refeicao.id">
                {{ refeicao.nome }} - {{ refeicao.preco | currency }}
            </option>
        </select>

        <label for="valor">Valor</label>
        <input id="valor" formControlName="valor" type="number" placeholder="Valor da Encomenda" required />

        <label for="data">Data</label>
        <input id="data" formControlName="data" type="date" placeholder="Data da Encomenda" required />

        <button type="submit" [disabled]="encomendaForm.invalid">Criar Encomenda</button>
    </form>

    <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>
    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
