<div class="encomenda-form">

  <h2>Encomendar Prato</h2>

  <form [formGroup]="encomendaForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="clienteNif">NIF do Cliente:</label>
      <input type="text" id="clienteNif" class="form-control" formControlName="clienteNif" placeholder="Digite o NIF"
        required />
    </div>

    <div class="form-group">
      <label for="refeicaoId">Selecione a Refeição:</label>
      <select id="refeicaoId" class="form-control" formControlName="refeicaoId" required>
        <option value="" disabled selected>Selecione uma refeição</option>
        <option *ngFor="let refeicao of refeicoes" [value]="refeicao.idRefeicao">
          {{ refeicao.prato.nome }} - {{ refeicao.tipoRefeicao.nome }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="valor">Valor da Encomenda:</label>
      <input type="number" id="valor" class="form-control" formControlName="valor" placeholder="Digite o valor"
        required />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!encomendaForm.valid">Criar Encomenda</button>
  </form>


  <!-- Mensagens de Sucesso ou Erro -->
  <!-- Mensagem de Sucesso -->
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>

  <!-- Mensagem de Erro -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="saldoInsuficiente" class="alert alert-danger mt-3">
    <strong>Erro!</strong> Saldo insuficiente para realizar a encomenda.
  </div>

</div>