<div class="list-encomendas">
    <h2>Consultar Minhas Encomendas</h2>
  
    <div>
      <label for="nifCliente">Digite o NIF/ID do Cliente:</label>
      <input id="nifCliente" type="text" [(ngModel)]="nifCliente" placeholder="Ex.: 12345" />
      <button class="btn" (click)="getEncomendas()">Carregar Encomendas</button>
    </div>
  
    <div *ngIf="mensagemErro" class="erro">
      {{ mensagemErro }}
    </div>
  
    <table *ngIf="encomendas.length > 0; else semEncomendas">
      <thead>
        <tr>
          <th>Data</th>
          <th>Prato</th>
          <th>Valor (€)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let encomenda of encomendas">
          <td>{{ encomenda.data }}</td>
          <td>{{ encomenda.prato }}</td>
          <td>{{ encomenda.valor }}</td>
        </tr>
      </tbody>
    </table>
  
    <ng-template #semEncomendas>
      <p>Não existem encomendas realizadas para este cliente.</p>
    </ng-template>
  </div>
  