html
<div>
  <h2>Consultar Ementa</h2>

  <form (ngSubmit)="consultarEmenta()">
    <label for="data">Data:</label>
    <input type="date" id="data" [(ngModel)]="data" name="data" required>

    <label for="hora">Hora:</label>
    <input type="time" id="hora" [(ngModel)]="hora" name="hora" required>

    <label for="id">ID da Sala:</label>
    <input type="number" id="id" [(ngModel)]="id" name="id" required>

    <button type="submit" [disabled]="loading">Consultar</button>
  </form>
  
  <div *ngIf="ementa">
    <h2>Ementa para o dia {{ ementa[0]?.data | date: 'short' }}</h2>
    <div *ngFor="let item of ementa">
      <p><strong>ID:</strong> {{ item._id }}</p>
      <p><strong>Data:</strong> {{ item.data | date: 'fullDate' }}</p>
      <p><strong>Pratos:</strong> {{ item.pratos.join(', ') }}</p>
      <p><strong>Quantidade Produzida:</strong> {{ item.quantidadeProduzida }}</p>
      <p><strong>Tipo de Refeição:</strong> {{ item.tipoRefeicao }}</p>
    </div>
  </div>
  
  
  <div *ngIf="loading">
    <p>A carregar...</p>
  </div>
</div>