<div class="prato-form">

    <form [formGroup]="pratoForm" (ngSubmit)="onSubmit()">
        <label for="nome">Nome do Prato</label>
        <input id="nome" formControlName="nome" type="text" />
        <div *ngIf="pratoForm.get('nome')?.invalid && pratoForm.get('nome')?.touched">
            Nome é obrigatório.
        </div>

        <label for="tipoPrato">Tipo de Prato</label>
        <select id="tipoPrato" formControlName="tipoPratoId">
            <option *ngFor="let tipo of tiposDePrato" [value]="tipo.id">{{ tipo.nome }}</option>
        </select>

        <label for="ingredientes">Ingredientes</label>
        <select id="ingredientes" formControlName="ingredientesIds" multiple>
            <option *ngFor="let ingrediente of ingredientes" [value]="ingrediente.id">
                {{ ingrediente.nome }}
            </option>
        </select>

        <label for="receita">Receita</label>
        <textarea id="receita" formControlName="receita"></textarea>

        <button type="submit" [disabled]="pratoForm.invalid">Criar Prato</button>
    </form>

    <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>
    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>