.prato-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.prato-form label {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #333;
}

.prato-form input,
.prato-form select,
.prato-form textarea,
.prato-form button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box;
}

.prato-form input,
.prato-form select,
.prato-form textarea {
    font-family: 'Roboto', sans-serif;
}

.prato-form button {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid rgb(100, 0, 160);
    cursor: pointer;
    font-size: 1rem;
    transition-duration: 0.4s;
}

.prato-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.prato-form button:hover:not(:disabled) {
    background-color: #45a0
}

.error-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 8px;
    border: 1px solid #f5c6cb;
    font-size: 1rem;
    text-align: center;
}

.success-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #d9f5c6;
    color: #4e721c;
    border-radius: 8px;
    border: 1px solid #d9f5c6;
    font-size: 1rem;
    text-align: center;
}