<div class="refeicaoRemoveForm">
    <h2>Remover Refeição</h2>
    <form [formGroup]="refeicaoRemoveForm" (ngSubmit)="onRemove()">

    <!-- Mensagem caso não existam refeições -->
    <div *ngIf="refeicoes.length === 0" class="alert alert-info">
      Nenhuma refeição disponível para remoção.
    </div>
  
    <!-- Dropdown para selecionar a refeição -->
    <div *ngIf="refeicoes.length > 0">
      <h3>Lista de Refeições</h3>
      <label for="idRefeicao">Escolha a refeição para remover:</label>
      <select id="idRefeicao" formControlName="idRefeicao" class="form-select">
        <option *ngFor="let refeicao of refeicoes" [value]="refeicao.idRefeicao">{{ refeicao.idRefeicao }} </option>
      </select>
    </div>
  
    <button type="submit" [disabled]="refeicaoRemoveForm.invalid">Remover Refeição</button>
  </form>
  
  <!-- Mensagens de Sucesso ou Erro -->
  <!-- Mensagem de Sucesso -->
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>

  <!-- Mensagem de Erro -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  </div>
  